<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ac5b68cc-90d7-46c0-a241-70a9b1d1c71d/resourcegroups/LibraryManagementResourceGroup/providers/Microsoft.Web/sites/LibraryManagement20220104125546</ResourceId>
    <ResourceGroup>LibraryManagementResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://librarymanagement20220104125546.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>0d5243a5-4431-43f7-b81e-38bb7fe3ae04</ProjectGuid>
    <PublishUrl>https://librarymanagement20220104125546.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LibraryManagement20220104125546</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>